#navigation{
  background-image: url("./pics/cover.jpg");
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: #FF1493;
}

#second{
	background-color: #FF69B4;
}

h2{
	color: #FF00FF;
}

i{
	color: white;
}

#contactme{
  background-image: url("./pics/reason.jpg");
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: #FF1493;
}